* {
  box-sizing: border-box;
  /* font-family: "Righteous", cursive; */
}

/* making font universal at 10px */
html {
  font-size: 62.5%;
  background: #2b2b2b;
  scroll-behavior: smooth;
  font-family: "Righteous", cursive;
}

body {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #4a7ebd;
  min-height: 10vh;
  font-size: 2rem;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 1.5rem;
}
h1 {
  font-size: 3.5rem;
  color: antiquewhite;
  margin-bottom: 1rem;
}
/* h2 {
  font-size: 1.5rem;
  color: black;
} */
p {
  font-size: 1.5rem;
  color: black;
}
a {
  color: white;
}

.nav-links li {
  display: inline;
}

nav a:hover {
  background-color: #e3bd81;
  padding: 0.1rem;
  font-size: 2.5rem;
  border-radius: 0.5rem;
}

#myname {
  font-size: 3rem;
}
section {
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
  width: 100%;
  text-align: center;
  text-transform: uppercase;
}
.project-img {
  width: 75%;
  border-radius: 5rem;
  margin-bottom: 1.5rem;
  margin-top: 3rem;
}
.project-img:hover {
  border: 0.2rem solid #e3bd81;
}
.project-header {
  font-weight: 600;
  color: #e3bd81;
  letter-spacing: 0.1rem;
  font-size: 2rem;
}
.project-desc-item {
  list-style-type: none;
  font-size: 1.1rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  padding: 1.5rem 0;
}

.project-button {
  border-radius: 1rem;
  font-size: 1.5rem;
  text-decoration: none;
  padding: 1.5rem 3.5rem;
  display: inline-block;
  color: white;
  background: #4a7ebd;
}
.project-button:hover {
  background-color: #e3bd81;
}
.project-info {
  background: grey;
  border-radius: 5rem;
  margin: 1.5rem 3rem;
  padding: 2rem;
}

@media (max-width: 90rem) {
  nav {
    flex-direction: column;
  }
}

@media (min-width: 90rem) {
  .container {
    flex-direction: row;
  }
}
