/* removing white space on the edges of the webpage */
html,
body {
  margin: 0px;
  padding: 0px;
  background: linear-gradient(45deg, #031e00, #6cb5f37a);
}

/* Background color for the nav bar */
.topnav {
  background-color: grey;
  overflow: hidden;
}

/* styling the navbar links */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 12px 15px;
  text-decoration: none;
  font-size: 1rem;
}
/* changing color of the links on hover */
.topnav a:hover {
  background-color: #6cb5f37a;
  color: #031e00;
}
/* add color to the active link */
.topnav a.active {
  background-color: #6cb5f37a;
  color: white;
}

.profile-pic {
  width: 40%;
}
